{% extends "::base.html.twig" %}

{% block title %}Užsisakyti - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var calendarGlobal = calendar();
        calendarGlobal.initialize(false);
        calendarGlobal.initializeParticipantManager('{{ participants|json_encode|raw }}');
        $("[name='appbundle_participant']").parsley();
    </script>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-offset-2">
            <div id="calendar" >
                <div class="calendar_header">
                    <div class="calendar_element calendar_arrow_container inline" onclick="calendarGlobal.nextMonth(-1)"><</div>
                    <div id="calendar_headline" class="calendar_element inline">Sausis</div>
                    <div class="calendar_element calendar_arrow_container inline" onclick="calendarGlobal.nextMonth(1)">></div>
                    <div id="calendar_year_label"></div>
                </div>
                <div class="calendar_element weekday">pirmadienis</div>
                <div class="calendar_element weekday">antradienis</div>
                <div class="calendar_element weekday">trečiadienis</div>
                <div class="calendar_element weekday">ketvirtadienis</div>
                <div class="calendar_element weekday">penktadienis</div>
                <div class="calendar_element weekday">šeštadienis</div>
                <div class="calendar_element weekday">sekmadienis</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="weekLabel"></div>
            <div id="unitsSoldLabel"></div>
        </div>
    </div>

    {{ form_start(participantForm) }}
    <table id="participants" class="table-striped ">
        <tr><th colspan="5">Dalyviai</th></tr>
        <tr>
            <th width="30%">Vardas</th>
            <th width="30%">Pavardė</th>
            <th width="10%">Amžius</th>
            <th width="15%">Lytis</th>
            <th width="15%">Pasirinkti</th>
        </tr>
        <tr id="addParticipantRow">
            <td valign="top">{{ form_widget(participantForm.firstName) }}</td>
            <td valign="top">{{ form_widget(participantForm.lastName) }}</td>
            <td valign="top">{{ form_widget(participantForm.age) }}</td>
            <td valign="top">{{ form_widget(participantForm.gender) }}</td>
            <td valign="top">{{ form_widget(participantForm.submit) }}
                <i id="participant_submit_spinner" class="fa fa-circle-o-notch fa-spin" style="font-size:24px; display:none;"></i></td>
        </tr>
    </table>
    {{ form_end(participantForm) }}
    {{ form_start(orderForm) }}
    <div class="row" style="margin-top: 30px">
        <div class="col-lg-10" style="text-align: right">
            {{ form_errors(orderForm) }}
        </div>
        <div class="col-lg-2">
            {{ form_widget(orderForm.submit) }}
        </div>
    </div>
    {{ form_end(orderForm) }}
{% endblock %}