{% extends "::base.html.twig" %}

{% block title %}Užsisakyti - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        initializeCalendar();
        initializeParticipantManager('{{ participants|json_encode|raw }}');
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-3 col-lg-offset-4">
            <div id="calendar">
                <div class="calendar_header">
                    <div class="calendar_element calendar_arrow_container inline" onclick="nextMonth(-1)"><</div>
                    <div id="calendar_headline" class="calendar_element inline">Sausis</div>
                    <div class="calendar_element calendar_arrow_container inline" onclick="nextMonth(1)">></div>
                </div>
                <div class="calendar_element weekday">pirmadienis</div>
                <div class="calendar_element weekday">antradienis</div>
                <div class="calendar_element weekday">trečiadienis</div>
                <div class="calendar_element weekday">ketvirtadienis</div>
                <div class="calendar_element weekday">penktadienis</div>
                <div class="calendar_element weekday">šeštadienis</div>
                <div class="calendar_element weekday">sekmadienis</div>
            </div>
        </div>
        <div class="col-lg-2">
            <div id="weekLabel"></div>
            <div id="unitsSoldLabel"></div>
        </div>
    </div>

    <table id="participants" class="table-striped ">
        <tr><th colspan="5">Dalyviai</th></tr>
        <tr id="participantsRow">
            <th width="30%">Vardas</th>
            <th width="30%">Pavardė</th>
            <th width="10%">Amžius</th>
            <th width="15%">Lytis</th>
            <th width="15%">Pasirinkti</th>
        </tr>

        <tr id="addParticipantRow">
            {{ form_start(participantForm) }}
            <th>{{ form_widget(participantForm.firstName) }}</th>
            <th>{{ form_widget(participantForm.lastName) }}</th>
            <th>{{ form_widget(participantForm.age) }}</th>
            <th>{{ form_widget(participantForm.gender) }}</th>
            <th>{{ form_widget(participantForm.submit) }}</th>
            {{ form_end(participantForm) }}
        </tr>

    </table>

    {{ form_start(orderForm) }}
    <div class="col-lg-1 col-lg-offset-10" style="margin-top: 30px">
        {{ form_widget(orderForm.submit) }}
    </div>
    {{ form_end(orderForm) }}
{% endblock %}