{% extends "AppBundle:Admin:base.html.twig" %}

{% block title %}Kalendorius - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var calendarGlobal = calendar();
        calendarGlobal.initialize({{serverTime}}, true);
    </script>
{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="row">
        <div class="col-lg-8">
            <div id="calendar" >
                <div class="calendar_header">
                    <div class="calendar_element calendar_arrow_container inline" onclick="calendarGlobal.nextMonth(-1)"><</div>
                    <div id="calendar_headline" class="calendar_element inline">Sausis</div>
                    <div class="calendar_element calendar_arrow_container inline" onclick="calendarGlobal.nextMonth(1)">></div>
                    <div id="calendar_year_label"></div>
                </div>
                <div class="calendar_element weekday">pirmadienis</div>
                <div class="calendar_element weekday">antradienis</div>
                <div class="calendar_element weekday">trečiadienis</div>
                <div class="calendar_element weekday">ketvirtadienis</div>
                <div class="calendar_element weekday">penktadienis</div>
                <div class="calendar_element weekday">šeštadienis</div>
                <div class="calendar_element weekday">sekmadienis</div>
            </div>
        </div>
        <div class="col-lg-4">
            {{ form_start(update_form) }}
            {{ form_end(update_form) }}
        </div>
    </div>
    <div class="row">
        {% block list %}{% endblock %}
    </div>
{% endblock %}