{% block body %}
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <div class="navbar-brand">ThatWeek</div>
            {% if is_granted('ROLE_ADMIN') %}
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="{{ path('admin.home') }}">Administratoriams</a></li>
                </ul>
            {% endif %}
        </div>
    {% if app.user %}
        <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="{{ path('profile.show') }}">{{ app.user.getFirstName }}  {{ app.user.getLastName }}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('order.showInfo') }}">Užsakyti</a></li>
        <li><a href="{{ path('logout') }}">Atsijungti</a></li>
        </ul>
    {% else %}
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ path('login.facebook') }}">Prisijungti</a></li>
        </ul>
    {% endif %}
    </nav>
{% endblock %}