{% extends "::base.html.twig" %}

{% block title %}Profilis - {{ parent() }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row" style="margin-bottom: 30px">
        <div class="col-lg-offset-5 col-lg-4">
            <ul class="navbar-nav nav">
                <li class="profile_button"><a href="{{ path('profile.show') }}">Profilis</a></li>
                <li class="profile_button"><a href="{{ path('profile.show.orders') }}">Užsakymai</a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-2"><img src="/{{ app.user.getPicture }}"></div>
{% endblock %}